rules = []
db_file = '{{ PWD }}/.clerk/data/clerk.db?mode=rwc'

[plaid]
client_id = '{{ PLAID_CLIENT_ID }}'
secret = '{{ PLAID_SECRET_KEY }}'
env = 'Sandbox' # Use Development if using with real data.
